.navbar
  %ul
    %li-style-type:none
      %a{:href => 'index.html'} Home
    %li-style-type:none
      %a{:href => 'about_me.html'} About Me
    %li-style-type:none
      %a{:href => 'projects.html'} My Projects
    %li-style-type:none
      %a{:href => 'contact.html'} Contact
