%h1 Portfolio of George Lewis

=image_tag "george1.png"

%p George Lewis

%a{:href => "#", :onclick => "window.open('./document/George_Lewis_cv.pdf', '_blank', 'fullscreen=yes'); return false;"} My CV
