%h1 Projects
.project
  .my_projects
    %h4='Fizz Buzz'
    =link_to image_tag('fizzbuzz.png'), 'https://github.com/GeorgeJLewis/fizz-buzz.git'
    %p='My first test driven ruby project'
    %h4='Address Book'
    =link_to image_tag('address1.jpeg'), 'https://github.com/GeorgeJLewis/address-book.git'
    %p='A simple web page in javascript where you can save and view contacts'
    %h4='Libary Challenge'
    =link_to image_tag('library.jpeg'), 'https://github.com/GeorgeJLewis/library-challenge.git'
    %p='We had do develop an application develped in ruby that can manage the checkout and return of books'
    %h4='ATM Challenge'
    =link_to image_tag('ATM.jpeg'), 'https://github.com/GeorgeJLewis/atm.git'
    %p='An application developed in ruby that can perform like an atm'
    %h4='BMI Challenge'
    =link_to image_tag('bmi.png'), 'https://github.com/GeorgeJLewis/BMI_Challenge.git'
    %p='An application developed with javascript to measure someones BMI'
